.places {
  max-width: 987px;
  color: #ffffff;
  margin: auto;
  padding-top: 92px;
}

.place {
  max-width: 987px;
  display: grid;
  grid-template-areas:
    "title subtitle"
    "image paragraph"
    "button paragraph";
  padding-top: 80px;
  gap: 40px;
  grid-template-rows: auto 460px auto;
  grid-template-columns: 1fr 460px;
}

.place:first-of-type {
  padding-top: 0;
}

.place:last-of-type {
  padding-bottom: 92px;
}
.place__title {
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  max-width: 460px;
  grid-area: title;
  margin: 0;
}

.place__subtitle {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 465px;
  padding-top: 100px;
  grid-area: subtitle;
}

.place__subtitle-head {
  margin: auto;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  letter-spacing: 0.12em;
  text-align: left;
  color: #aaaaaa;
}
.place__subtitle-text {
  margin: auto;
}

.place__image {
  grid-area: image;
}

.place__paragraphs {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  text-align: left;
  max-width: 484px;
  grid-area: paragraph;
}

.place__text {
  margin-top: 0;
  margin-bottom: 25px;
}

.place__button {
  background: #0278fe;
  border-radius: 4px;
  grid-area: button;
  padding: 13px 18px;
  margin: 0;
  max-width: 355px;
  text-align: center;
  align-self: self-start;
}

.place__button:hover {
  background-color: #0063d2;
}

.place__button-paragraph {
  font-size: 18px;
  line-height: 21.78px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}

.place__barea {
  display: grid;
  grid-template-areas:
    "title subtitle"
    "image paragraph"
    "button paragraph";
  gap: 40px;
  padding-top: 80px;
}

.place__title-barea {
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  max-width: 584px;
  grid-area: title;
  grid-column: 1/3;
}

.place__subtitle-barea {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 465px;
  padding-top: 170px;
  grid-area: subtitle;
}

.place__image-barea {
  grid-area: image;
}

.place__paragraphs-barea {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  text-align: left;
  grid-area: paragraph;
  max-width: 484px;
}

.place__button-barea {
  grid-area: button;
}

.place_muramvya {
  max-width: 987px;
  display: grid;
  grid-template-areas:
    "title subtitle"
    "image paragraph"
    "button paragraph";
  padding-top: 80px;
  gap: 40px;
  grid-template-rows: auto 460px auto;
  grid-template-columns: 1fr 460px;
}

.place__title-muramvya {
  font-family: "Inter";
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  max-width: 460px;
  grid-area: title;
  margin: 0;
}

.place__subtitle-muramvya {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  max-width: 465px;
  padding-top: 100px;
  grid-area: subtitle;
}

.place__paragraphs-muramvya {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 29.34px;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 3;
}

@media screen and (max-width: 1018px) {
  .places {
    max-width: 720px;
    margin: auto;
  }

  .place {
    max-width: 720px;
    gap: 28px;
    grid-template-rows: auto 340px auto;
    grid-template-columns: 1fr 340px;
    margin: auto;
  }

  .place__paragraphs {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    font-size: 16px;
    max-width: 720px;
  }

  .place__title {
    max-width: 340px;
    font-size: 42px;
    margin: auto;
  }

  .place__subtitle {
    padding: 0;
    max-width: 294px;
    margin: 0 auto;
  }
  .place__text {
    font-size: 18px;
    width: 325px;
  }

  .place__image {
    max-width: 340px;
    gap: 48px;
    grid-column-start: 2;
    grid-column-end: -3;
  }

  .place__barea {
    max-width: 320px;
    gap: 28px;
    grid-template-rows: auto 340px auto;
    grid-template-columns: 1fr 340px;
  }

  .place__title-barea {
    font-size: 42px;
    grid-column: 1/2;
    margin: auto;
  }

  .place__subtitle-barea {
    padding: 0;
    margin: auto;
  }

  .place__image-barea {
    max-width: 352px;
  }

  .place__paragraphs-barea {
    max-width: 325px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    font-size: 16px;
  }

  .place__title-muramvya {
    margin: auto;
    font-size: 42px;
  }

  .place__paragraphs-muramvya {
    max-width: 325px;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 2;
    font-size: 16px;
  }

  .place_muramvya {
    max-width: 987px;
    display: grid;
    grid-template-areas:
      "title subtitle"
      "image paragraph"
      "button paragraph";
    padding-top: 80px;
    gap: 40px;
    grid-template-rows: auto 460px auto;
    grid-template-columns: 1fr 340px;
  }
}

@media screen and (max-width: 400px) {
  .place {
    display: block;
  }

  .place__barea {
    display: block;
  }

  .place_muramvya {
    display: block;
  }

  .place__title-muramvya {
    display: block;
  }

  .place__paragraphs-muramvya {
    display: block;
  }
}
